// colors
$light-grey: #cccbcb;
$black: #1d1c1c;
$off-white: #f6f6f6;
$white: #ffffff;
$green: #17bb92;
$light-blue: #e4f9ff;
$blue: #00c8ff;
$light-purple: #dfc8fd;
$purple: #6f00ff;


$link-primary: #353232;
$link-primary-hover: #282828;
$link-icon-primary-hover: #b48ee6;
$link-icon-active: #b48ee6;


$primary-button: #b48ee6;

$high-priority: #df510a;
$high-priority-background: #eeb79c;

$low-priority: #df9774;
$low-priority-background: #fadacb;